body {
}
.btn-gamp{
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #272727;
  border: 2px solid #031f4b;
  width: 180px;
  height: 60px;
  text-align: center;
  display: inline-block;
  line-height: 56px;
  vertical-align:middle;
  background-color:#b3cde0;
}
