<h1>Counter</h1>
<div class="col-md-6 col-sm-6 col-xs-6">
  <p>This is a simple example of an Angular component.</p>

  <p>Current count: <strong>{{ currentCount }}</strong></p>

  <button class="btn-gamp" (click)="incrementCounter()">Increment</button>
</div>
