<div class='container-fluid'>
  <div>
    <app-nav-menu></app-nav-menu>
  </div>
  <div class='main-content'>
    <div class='row'>
      <div class='col-sm-2'></div>
      <div class='col-sm-8 body-content'>
        <router-outlet></router-outlet>
      </div>
      <div class='col-sm-2'></div>
    </div>
  </div>
    <div>
      <app-footer></app-footer>
    </div>
</div>
