<nav class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>Homework Angular </a>
    </div>
    <div class="navbar-collapse collapse" [ngClass]='{ "in": isExpanded }'>
      <div class="menu">
        <ul class="nav nav-tabs" role="tablist">
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='["/"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-home'></span> Home
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/counter"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-education'></span> Counter
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Fetch data
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/info"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-info-sign'></span> Privacy Policy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div><!--/.container-->
</nav><!--/nav-->		
