<div class="sub-footer navbar-fixed-bottom">
  <div class="container">
    <div class="social-icon">
      <div class="col-md-4">
        <ul class="social-network">
          <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-twitter"></i>Facebook</a></li>
          <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-facebook">Twitter</i></a></li>
          <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus">Google</i></a></li>
          <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin">Linkedin</i></a></li>
          <li><a href="#" class="ytube tool-tip" title="YouTube"><i class="fa fa-youtube-play">YouTube</i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-auto">
      <div class="copyright">
        <p>&copy; Homework Angular 2018, <a target="_blank" href="#">some company</a>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
